In [1]:
import importlib

In [7]:
import locations

In [20]:
import files

In [27]:
importlib.reload(files)

In [ ]:
a = locations.

In [25]:
a = locations.test_flow.run()

[2021-01-18 21:43:33-0500] INFO - prefect.FlowRunner | Beginning Flow run for 'test'
[2021-01-18 21:43:33-0500] INFO - prefect.TaskRunner | Task 'bmgf_locations': Starting task run...
[2021-01-18 21:43:33-0500] INFO - prefect.TaskRunner | Task 'bmgf_locations': Finished task run for task with final state: 'Success'
[2021-01-18 21:43:33-0500] INFO - prefect.FlowRunner | Flow run SUCCESS: all reference tasks succeeded

In [14]:
b = locations.bmgf_locations()

In [15]:
b

location_id
1                                      Global
4      Southeast Asia, East Asia, and Oceania
5                                   East Asia
6                                       China
7       Democratic People's Republic of Korea
                        ...
376                  Northern Mariana Islands
385                               Puerto Rico
422              United States Virgin Islands
435                               South Sudan
522                                     Sudan
Name: location_name, Length: 224, dtype: object

In [16]:
u = locations.un_locations()

In [17]:
u

,Variant,Notes,Country code,Type,Parent code,2020,2021,2022,2023,2024,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
Region,,,,,,,,,,,,,,,,,,,,,
AUSTRALIA/NEW ZEALAND,High variant,NaN,927,SDG region,1828,30 322,30 677,31 038,31 405,31 775,...,60 103,60 654,61 212,61 776,62 345,62 920,63 498,64 081,64 666,65 254
Afghanistan,High variant,NaN,4,Country/Area,5501,38 928,39 893,40 876,41 875,42 886,...,104 301,104 859,105 407,105 946,106 475,106 995,107 506,108 008,108 501,108 986
Africa,High variant,j,903,Region,1840,1 340 598,1 374 897,1 410 251,1 446 567,1 483 774,...,5 274 969,5 342 102,5 409 250,5 476 399,5 543 535,5 610 642,5 677 702,5 744 698,5 811 610,5 878 419
Albania,High variant,NaN,8,Country/Area,925,2 878,2 875,2 873,2 870,2 868,...,2 051,2 037,2 023,2 009,1 996,1 983,1 970,1 958,1 946,1 934
Algeria,High variant,NaN,12,Country/Area,912,43 851,44 677,45 483,46 271,47 042,...,93 085,93 753,94 417,95 077,95 732,96 382,97 025,97 661,98 290,98 909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,High variant,NaN,732,Country/Area,912,597,612,628,643,659,...,1 711,1 728,1 745,1 762,1 779,1 796,1 813,1 830,1 847,1 865
World Bank income groups,High variant,NaN,1802,Label/Separator,900,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,High variant,NaN,887,Country/Area,922,29 826,30 529,31 244,31 970,32 704,...,74 517,74 882,75 241,75 593,75 939,76 279,76 613,76 941,77 263,77 580
Zambia,High variant,NaN,894,Country/Area,910,18 384,18 939,19 519,20 121,20 743,...,96 575,98 143,99 719,101 304,102 896,104 496,106 103,107 717,109 338,110 966
Zimbabwe,High variant,NaN,716,Country/Area,910,14 863,15 107,15 371,15 653,15 952,...,42 041,42 367,42 690,43 012,43 331,43 648,43 963,44 277,44 589,44 900

In [18]:
u[u['Country code'] == 376]

,Variant,Notes,Country code,Type,Parent code,2020,2021,2022,2023,2024,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
Region,,,,,,,,,,,,,,,,,,,,,
Israel,High variant,NaN,376,Country/Area,922,8 656,8 798,8 944,9 091,9 240,...,22 284,22 508,22 732,22 957,23 182,23 406,23 631,23 856,24 080,24 304

In [28]:
w = locations.witt_locations()

In [29]:
w

       dim                                               name  code
36   isono                                              WORLD   900
37   isono                             More developed regions   901
38   isono                             Less developed regions   902
39   isono                          Least developed countries   941
40   isono  Less developed regions, excluding least develo...   934
..     ...                                                ...   ...
305  isono                                              Samoa   882
306  isono                                            Tokelau   772
307  isono                                              Tonga   776
308  isono                                             Tuvalu   798
309  isono                          Wallis and Futuna Islands   876

[274 rows x 3 columns]

In [31]:
w[w['code'] == 376]

       dim    name  code
174  isono  Israel   376