In [1]:
import importlib

In [3]:
import locations

In [4]:
import clean

In [6]:
import files

In [76]:
import analyze

In [7]:
import pandas as p

In [102]:
importlib.reload(analyze)

In [91]:
clean.bmgf_global()

Wrote 81 records for SLOWER
Wrote 81 records for REFERENCE
Wrote 81 records for FASTER
Wrote 81 records for SDG

True

In [92]:
a = analyze.merge_bmgf_un()

In [105]:
a = analyze.compare_bmgf_un(start=2050)

In [106]:
a

                       peak  peak_year    manyears
BMGF-SLOWER     13580335904       2100  598.167299
BMGF-REFERENCE   9732922689       2064  482.820512
BMGF-FASTER      9315209380       2055  447.394157
BMGF-SDG         8982655087       2050  418.191637
UN-high         15600369000       2100  664.083097
UN-medium       10875394000       2100  534.672609
UN-low           8923228000       2054  427.408453

In [53]:
w = locations.witt_location_names()

In [91]:
bu = locations.compare_names(b, 'bmgf', u)

In [85]:
'WORLD' in u['Region'].to_list()

False

In [76]:
b[1]

'Central Europe, Eastern Europe, and Central Asia'

In [103]:
locations.compare_all_names(b, w, u )

BU = 196, WU = 260
All = 192

In [132]:
clean.bmfg_global()

Wrote 83 records for global_slower
Wrote 83 records for global_ref
Wrote 83 records for global_faster
Wrote 83 records for global_sdg

True

In [39]:
ua = p.read_csv (files.get_coll_path ('un_population', 'all_pop', 'high'))

In [44]:
uad = ua.drop(clean.UN_DROPS, 1)

In [46]:
uad = uad.reset_index()

In [49]:
uadw = uad[uad.Region == 'WORLD']

In [52]:
uadwd = uadw.drop('Region', 1)

In [54]:
ug = uadwd.T

In [55]:
ug.loc['2050'][0]

' 10 587 774'

In [57]:
ug = ug.reset_index()

In [62]:
a = ug.iloc[0][0]

In [63]:
a.split(' ')

['', '7', '794', '799']

In [66]:
int(a.replace(' ', '')) + 1

7794800