In [1]:
import importlib

In [7]:
import locations

In [20]:
import files

In [66]:
importlib.reload(locations)

In [37]:
b = locations.bmgf_location_names()

In [71]:
b[0]

'Global'

In [63]:
u = locations.un_locations()

In [64]:
u

,Region,Variant,Notes,Country code,Type,Parent code,2020,2021,2022,2023,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
1,Afghanistan,High variant,NaN,4,Country/Area,5501,38 928,39 893,40 876,41 875,...,104 301,104 859,105 407,105 946,106 475,106 995,107 506,108 008,108 501,108 986
3,Albania,High variant,NaN,8,Country/Area,925,2 878,2 875,2 873,2 870,...,2 051,2 037,2 023,2 009,1 996,1 983,1 970,1 958,1 946,1 934
4,Algeria,High variant,NaN,12,Country/Area,912,43 851,44 677,45 483,46 271,...,93 085,93 753,94 417,95 077,95 732,96 382,97 025,97 661,98 290,98 909
5,American Samoa,High variant,16,16,Country/Area,957,55,55,55,55,...,62,62,62,62,62,61,61,61,61,61
6,Andorra,High variant,NaN,20,Country/Area,925,77,77,78,78,...,82,83,83,83,84,84,85,85,86,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,Wallis and Futuna Islands,High variant,2,876,Country/Area,957,11,11,11,11,...,9,9,9,9,9,9,9,9,9,9
284,Western Sahara,High variant,NaN,732,Country/Area,912,597,612,628,643,...,1 711,1 728,1 745,1 762,1 779,1 796,1 813,1 830,1 847,1 865
286,Yemen,High variant,NaN,887,Country/Area,922,29 826,30 529,31 244,31 970,...,74 517,74 882,75 241,75 593,75 939,76 279,76 613,76 941,77 263,77 580
287,Zambia,High variant,NaN,894,Country/Area,910,18 384,18 939,19 519,20 121,...,96 575,98 143,99 719,101 304,102 896,104 496,106 103,107 717,109 338,110 966
288,Zimbabwe,High variant,NaN,716,Country/Area,910,14 863,15 107,15 371,15 653,...,42 041,42 367,42 690,43 012,43 331,43 648,43 963,44 277,44 589,44 900

In [18]:
u[u['Country code'] == 376]

,Variant,Notes,Country code,Type,Parent code,2020,2021,2022,2023,2024,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
Region,,,,,,,,,,,,,,,,,,,,,
Israel,High variant,NaN,376,Country/Area,922,8 656,8 798,8 944,9 091,9 240,...,22 284,22 508,22 732,22 957,23 182,23 406,23 631,23 856,24 080,24 304

In [53]:
w = locations.witt_location_names()

In [50]:
w

                                                  name  code
36                                               WORLD   900
37                              More developed regions   901
38                              Less developed regions   902
39                           Least developed countries   941
40   Less developed regions, excluding least develo...   934
..                                                 ...   ...
305                                              Samoa   882
306                                            Tokelau   772
307                                              Tonga   776
308                                             Tuvalu   798
309                          Wallis and Futuna Islands   876

[274 rows x 2 columns]

In [31]:
w[w['code'] == 376]

       dim    name  code
174  isono  Israel   376

In [73]:
locations.compare_names(w, 'witt', u)

{'witt': ['name', 'code'],
 'un': ['Afghanistan',
  'Albania',
  'Algeria',
  'American Samoa',
  'Andorra',
  'Angola',
  'Anguilla',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Aruba',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bermuda',
  'Bhutan',
  'Bolivia (Plurinational State of)',
  'Bonaire, Sint Eustatius and Saba',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'British Virgin Islands',
  'Brunei Darussalam',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cabo Verde',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cayman Islands',
  'Central African Republic',
  'Chad',
  'Channel Islands',
  'Chile',
  'China',
  'China, Hong Kong SAR',
  'China, Macao SAR',
  'China, Taiwan Province of China',
  'Colombia',
  'Comoros',
  'Congo',
  'Cook Islands',
  'Costa Rica',
  'Croatia',
  'Cuba',
  'Curaçao',
  'Cyprus',
  'Czechia',
  "Côte d'Ivoire",
  "Dem. People's Republic of Korea",
  'Democratic Republic of the Congo',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Eswatini',
  'Ethiopia',
  'Falkland Islands (Malvinas)',
  'Faroe Islands',
  'Fiji',
  'Finland',
  'France',
  'French Guiana',
  'French Polynesia',
  'Gabon',
  'Gambia',
  'Georgia',
  'Germany',
  'Ghana',
  'Gibraltar',
  'Greece',
  'Greenland',
  'Grenada',
  'Guadeloupe',
  'Guam',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Holy See',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran (Islamic Republic of)',
  'Iraq',
  'Ireland',
  'Isle of Man',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Kuwait',
  'Kyrgyzstan',
  "Lao People's Democratic Republic",
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Martinique',
  'Mauritania',
  'Mauritius',
  'Mayotte',
  'Mexico',
  'Micronesia (Fed. States of)',
  'Monaco',
  'Mongolia',
  'Montenegro',
  'Montserrat',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Caledonia',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Niue',
  'North Macedonia',
  'Northern Mariana Islands',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Puerto Rico',
  'Qatar',
  'Republic of Korea',
  'Republic of Moldova',
  'Romania',
  'Russian Federation',
  'Rwanda',
  'Réunion',
  'Saint Barthélemy',
  'Saint Helena',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Martin (French part)',
  'Saint Pierre and Miquelon',
  'Saint Vincent and the Grenadines',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Sint Maarten (Dutch part)',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'South Sudan',
  'Spain',
  'Sri Lanka',
  'State of Palestine',
  'Sudan',
  'Suriname',
  'Sweden',
  'Switzerland',
  'Syrian Arab Republic',
  'Tajikistan',
  'Thailand',
  'Timor-Leste',
  'Togo',
  'Tokelau',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Turks and Caicos Islands',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United Republic of Tanzania',
  'United States Virgin Islands',
  'United States of America',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Venezuela (Bolivarian Republic of)',
  'Viet Nam',
  'Wallis and Futuna Islands',
  'Western Sahara',
  'Yemen',
  'Zambia',
  'Zimbabwe'],
 'both': []}

In [72]:
'Albania' in u['Region'].to_list()

True