In [1]:
import importlib

In [2]:
import locations

In [3]:
import clean

In [4]:
import files

In [5]:
import analyze

In [6]:
import pandas as p

In [22]:
importlib.reload(analyze)

In [17]:
clean.witt_global()

Wrote 81 records for 1
Wrote 81 records for 2
Wrote 81 records for 3
Wrote 81 records for 4
Wrote 81 records for 5

True

In [92]:
a = analyze.merge_bmgf_un()

In [23]:
a = analyze.compare_all()

In [24]:
a

                        peak  peak_year    manyears          mean
BMGF-SLOWER     1.358034e+10       2100  867.904351  1.071487e+10
BMGF-REFERENCE  9.732923e+09       2064  747.605677  9.229700e+09
BMGF-FASTER     9.315209e+09       2055  709.511864  8.759406e+09
BMGF-SDG        8.982655e+09       2050  677.098450  8.359240e+09
UN-high         1.560037e+10       2100  938.754677  1.158956e+10
UN-medium       1.087539e+10       2100  799.098889  9.865418e+09
UN-low          8.923228e+09       2054  681.666497  8.415636e+09
Witt-1          8.628447e+09       2055  664.987443  8.209722e+09
Witt-2          9.712457e+09       2073  747.128590  9.223810e+09
Witt-3          1.357340e+10       2100  884.404289  1.091857e+10
Witt-4          9.873400e+09       2080  755.286958  9.324530e+09
Witt-5          8.629870e+09       2055  665.443843  8.215356e+09

In [53]:
w = locations.witt_location_names()

In [91]:
bu = locations.compare_names(b, 'bmgf', u)

In [85]:
'WORLD' in u['Region'].to_list()

False

In [76]:
b[1]

'Central Europe, Eastern Europe, and Central Asia'

In [103]:
locations.compare_all_names(b, w, u )

BU = 196, WU = 260
All = 192

In [132]:
clean.bmfg_global()

Wrote 83 records for global_slower
Wrote 83 records for global_ref
Wrote 83 records for global_faster
Wrote 83 records for global_sdg

True

In [39]:
ua = p.read_csv (files.get_coll_path ('un_population', 'all_pop', 'high'))

In [44]:
uad = ua.drop(clean.UN_DROPS, 1)

In [46]:
uad = uad.reset_index()

In [49]:
uadw = uad[uad.Region == 'WORLD']

In [52]:
uadwd = uadw.drop('Region', 1)

In [54]:
ug = uadwd.T

In [55]:
ug.loc['2050'][0]

' 10 587 774'

In [57]:
ug = ug.reset_index()

In [62]:
a = ug.iloc[0][0]

In [63]:
a.split(' ')

['', '7', '794', '799']

In [66]:
int(a.replace(' ', '')) + 1

7794800