In [1]:
import importlib

In [3]:
import locations

In [4]:
import clean

In [6]:
import files

In [7]:
import pandas as p

In [41]:
importlib.reload(clean)

In [43]:
clean.un_global()

2020      7 794 799
2021      7 883 802
2022      7 974 797
2023      8 067 252
2024      8 160 745
           ...
2096     15 164 532
2097     15 273 554
2098     15 382 613
2099     15 491 594
2100     15 600 369
Name: WORLD, Length: 81, dtype: object
Wrote 81 records for high
2020      7 794 799
2021      7 874 966
2022      7 953 953
2023      8 031 800
2024      8 108 605
           ...
2096     10 858 112
2097     10 863 615
2098     10 868 348
2099     10 872 284
2100     10 875 394
Name: WORLD, Length: 81, dtype: object
Wrote 81 records for medium
2020     7 794 799
2021     7 865 624
2022     7 932 536
2023     7 995 991
2024     8 056 356
           ...
2096     7 549 519
2097     7 493 601
2098     7 437 040
2099     7 379 869
2100     7 322 116
Name: WORLD, Length: 81, dtype: object
Wrote 81 records for low

True

In [71]:
b[0]

'Global'

In [89]:
u = locations.un_locations()

In [18]:
u[u['Country code'] == 376]

,Variant,Notes,Country code,Type,Parent code,2020,2021,2022,2023,2024,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
Region,,,,,,,,,,,,,,,,,,,,,
Israel,High variant,NaN,376,Country/Area,922,8 656,8 798,8 944,9 091,9 240,...,22 284,22 508,22 732,22 957,23 182,23 406,23 631,23 856,24 080,24 304

In [53]:
w = locations.witt_location_names()

In [91]:
bu = locations.compare_names(b, 'bmgf', u)

In [98]:
w

                                                  name  code
36                                               WORLD   900
37                              More developed regions   901
38                              Less developed regions   902
39                           Least developed countries   941
40   Less developed regions, excluding least develo...   934
..                                                 ...   ...
305                                              Samoa   882
306                                            Tokelau   772
307                                              Tonga   776
308                                             Tuvalu   798
309                          Wallis and Futuna Islands   876

[274 rows x 2 columns]

In [85]:
'WORLD' in u['Region'].to_list()

False

In [76]:
b[1]

'Central Europe, Eastern Europe, and Central Asia'

In [103]:
locations.compare_all_names(b, w, u )

BU = 196, WU = 260
All = 192

In [132]:
clean.bmfg_global()

Wrote 83 records for global_slower
Wrote 83 records for global_ref
Wrote 83 records for global_faster
Wrote 83 records for global_sdg

True

In [39]:
ua = p.read_csv (files.get_coll_path ('un_population', 'all_pop', 'high'))

In [44]:
uad = ua.drop(clean.UN_DROPS, 1)

In [46]:
uad = uad.reset_index()

In [49]:
uadw = uad[uad.Region == 'WORLD']

In [52]:
uadwd = uadw.drop('Region', 1)

In [54]:
ug = uadwd.T

In [55]:
ug.loc['2050'][0]

' 10 587 774'

In [57]:
ug = ug.reset_index()

0       7 794 799
1       7 883 802
2       7 974 797
3       8 067 252
4       8 160 745
         ...
76     15 164 532
77     15 273 554
78     15 382 613
79     15 491 594
80     15 600 369
Name: 0, Length: 81, dtype: object